In [ ]:
##Q1
string = "shahnawaz"
type(string)

In [ ]:
list1 = [1,2,3,5,"shahnawaz" ,{1,2,3,4}]
type(list1)

In [ ]:
float1 = 34.55
type(float1)

In [ ]:
tuple1 = (1,2,3,4,5)
type(tuple1)

##Q2
(i) var1 = ' '
This variable (var1) is a string type and it contains a single space character.

(ii) var2 = '[ DS , ML , Python]'
This variable (var2) is a string type and it contains a comma-separated list of three items: 'DS', 'ML', and 'Python'. The items are enclosed within square brackets.

(iii) var3 = ['DS', 'ML', 'Python']
This variable (var3) is a list type and it contains three items: 'DS', 'ML', and 'Python'. The items are enclosed within square brackets, and each item is a string.

(iv) var4 = 1
This variable (var4) is an integer type and it contains the value 1.

In [ ]:
##Q3
##(i) /
##The '/' operator is the division operator in most programming languages. It performs division between two numbers and returns the quotient as a floating-point number (or decimal number).

'''for example'''
a = 10 / 2
print(a)

In [ ]:
##2. The '%' operator is the modulo operator. It returns the remainder of the division operation between two numbers.
'''for example'''
b = 2 % 5
print(b)

In [ ]:
##3. The '//' operator is the floor division operator. It performs division between two numbers and returns the quotient as an integer, discarding the fractional part.
'''for example'''
c = 30 // 10
print(c)

In [ ]:
##4. The '**' operator is the exponentiation operator. It raises the first number to the power of the second number.
'''for example'''
d = 10 ** 2
print(d)

In [ ]:
##Q4
list1 = [1,2,3,4, 34.56, "shahnawaz", (12,23,45,56),[1,2,34,4],{1,2,3,4},True]
for element in list1:
    print(f"Element: {element}, Data Type: {type(element)}")

In [2]:
##Q5
A = 100
B = 5

count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"Number A is divisible by number B {count} times.")
else:
    print("Number A is not divisible by number B.")

Number A is divisible by number B 2 times.

In [1]:
##Q6
int1 = [2,3,4,45,4,64,5,4,45,45,3,2,3,5,6,9,6,7,8,9,1,2,3]
for num in int1:
    if num % 3 :
        print("f {num} division by 3")
    else:
        print("f {num} division by not 3")

f {num} division by 3
f {num} division by not 3
f {num} division by 3
f {num} division by not 3
f {num} division by 3
f {num} division by 3
f {num} division by 3
f {num} division by 3
f {num} division by not 3
f {num} division by not 3
f {num} division by not 3
f {num} division by 3
f {num} division by not 3
f {num} division by 3
f {num} division by not 3
f {num} division by not 3
f {num} division by not 3
f {num} division by 3
f {num} division by 3
f {num} division by not 3
f {num} division by 3
f {num} division by 3
f {num} division by not 3

In [8]:
## 1: Lists (Mutable)
'''for example'''
lists = [1,2,3]
lists.append(10)
lists[0] = 20
lists

[20, 2, 3, 10]

In [10]:
## 2: Strings (Immutable)
'''for example '''
strings = "hello"
strings[0] = "l"

TypeError: 'str' object does not support item assignment